extends layout

block content
   
    div
       h1(style="text-align:center;background-color:lightgrey;font-family:TimesNewRoman;") A Nodelabs web app!
       h2 
         a(href="/userlist") View Registered Users
       h5 You are visiting from #{ip}
       
    
