doctype html
html
  head
    title Nodelabs-User Login
  body
    div
       img(src="/img/nodelabs.png" width="123.5px" height="42px")
    div
       h1(style="text-align:center;background-color:lightgrey;font-family:TimesNewRoman;") User Login
    form(action="" method="post")
       placeholder Username: 
       input(type="text" name="uname" id="uname")
       br
       br
       placeholder Password: 
       input(type="password" name="password" id="password")
       br
       br
       input(type="submit" onclick="alert('Login Module Now Enabled!')" value="Login") 
    
